# LaTeX auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# LaTeX intermediate files
*.dvi
*.xdv
*-converted-to.*

# Bibliography auxiliary files
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Build tool auxiliary files
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Build directories
_minted*
*.pyg

# Glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.lzs

# Index
*.idx
*.ilg
*.ind

# Nomenclature
*.nlg
*.nlo
*.nls

# TikZ & PGF
*.dpth
*.md5
*.auxlock

# Hyperref
*.brf

# Knitr
*-concordance.tex

# Other
*.nav
*.snm
*.vrb
*.spl
*.sta

# PDF files
*.pdf
