.venv/*
*.zip
*.csv
*.pdf

.vscode/*
build/*

*.xdy
*.toc
*.out
*.mw
*.lot
*.lol
*.ltb
*.lof
*.loe
*.loa
*.ind
*.ilg
*.idx
*.glsdefs
*.glo
*.blg
*.bbl
*.acn
*.gnuplot
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.ist
*.acr
*.alg
*.glg
*.gls
